.cc{

padding-left: 80px;

}

.cl {

border-radius: 10px;
background-color: rgb(204, 90, 90);
color:white;
height: 50px;
width: 80px;
}

.cl:hover {

    background-color:white;
    color:rgb(204, 90, 90);

}